
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.tertiary {
  color: $tertiary-color;
}

.loader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffffa8;
  z-index: 100000;
  justify-content: center;
  align-items: center;
  animation: loader 1s;
  animation-delay: 1s;
  animation-fill-mode: both;

  .loader {
    &-logo {
      font-family: "Shrikhand", "cursive";
      font-size: 3rem;
      animation: LogoAnimate 1s;
      animation-iteration-count: 1;
    }
  }

  @for $i from 0 to 8 {
    .item--#{$i} {
      animation-delay: #{$i / 10}s;
    }
  }
}

@keyframes LogoAnimate {
  0% {
    transform: translateY(0) rotate(360deg);
  }

  25% {
    transform: translateY(1rem);
  }

  75% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1000;
  }
}

title {
  font-family: "Shrikhand", cursive;
}

h1, h2, h3, h4, p, span {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 23px;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#header-logo {
  & img {
    display: block;
    margin: 10px auto;
    width: 40%;
  }
}

.geolocation {
  background-color: #eaeaea;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.body-intro {
  text-align: center;
  padding: 25px 80px;
  background-color: #f6f6f6;
  & button {
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
    border: 1px solid;
    color: #fff;
    border-radius: 20px;
    padding: 12px 15px;
    font-size: 12.5px;
    margin-bottom: 15px;
  }
}

.working {
  margin-top: 45px;
  margin-bottom: 60px;
  & h2 {
    margin-left: 20px;
  }
}

.working-note {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  align-items: center;
  justify-content: center;
}

.note, .note-purple {
  background-color: #f6f6f6;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 19px;
  border-radius: 15px;
  box-shadow: 4px 4px 2px #eaeaea;
  position: relative;
  & i {
    margin-left: 25px;
  }
}

.note-purple {
  background-color: #f5edff;
  & i {
    color: #9356dc;
    margin-left: 25px;
  }
}

.note-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  color: #fff;
  border: 2px;
  border-radius: 50%;
  font-size: 14px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -10px;
}

.restaurants {
  background-color: #f6f6f6;
  flex-direction: column;
  border-radius: 15px;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 65px;
  & h2 {
    margin-left: 20px;
  }
}

.rest-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
  & a {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    color: #000;
    height: 240px;
    width: 90%;
    border-radius: 15px;
    margin: 0;
    box-shadow: 0px 0px 2px #7e8387;
  }
    & img {
      object-fit: cover;
      height: 70%;
      width: 100%;
      border-radius: 15px 15px 0px 0px;
    }
      & span {
        background-color: #99e2d0;
        color: #1a8a68;
        position: absolute;
        text-align: center;
        padding: 5px 0;
        width: 70px;
        right: 32px;
        top: 16px;
      }
        & h4 {
          margin: 0;
        }
          & p {
            margin: 0;
          }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px;
  color: black;
  padding: 16px;
}

.card-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  height: 50px;
}

footer {
  background-color: #353535;
}

.footer_list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  & h2 {
    color: #fff;
    font-family: Shrikhand, "cursive";
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
    & ul {
      list-style: none;
      padding: 0;
      margin-left: 19px;
      margin-top: 5px;
    }
      & li {
        margin: 5px 0;
        padding-top: 6px;
      }
        & a {
          color: #fff;
          text-decoration: none;
        }
          & i {
            padding-right: 10px;
          }

  .shakehand {
    font-size: 12px;
  }
}

/* Page des restaurants */

.restaurants-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  & a {
    color: #000;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 22px;
    right: 22%;
    bottom: 15px;
  }
    & span {
      position: absolute;
    }
      & img {
        display: block;
        width: 35%;
      }
}

.img-lpdg {
  width: 100%;
  height: 300px;
  background-image: url(public/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.img-lne {
  width: 100%;
  height: 300px;
  background-image: url(public/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.img-alf {
  width: 100%;
  height: 300px;
  background-image: url(public/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.img-ldds {
  width: 100%;
  height: 300px;
  background-image: url(public/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.restaurant-list {
  background-color: #f6f6f6;
  margin-top: -72px;
  border-radius: 60px 60px 0 0;
  padding-bottom: 55px;
}

.restaurant-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 32px 0 16px;
  & h1 {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
  }
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 30px;
  margin-bottom: 15px;
  .full {
    opacity: 0;
  }
    .full:hover {
      background: linear-gradient(to bottom, $secondary-color, $primary-color);
      transition: all 2s;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: scale(1.2);
      opacity: 1;
    }
      & i {
        position: absolute;
      }
}

.entree, .plats, .desserts {
& h2 {
  position: relative;
  padding-bottom: 8px;
  font-weight: 400;
  margin: 19.2px 20px;
}
  & h2::after {
    content: "";
    background: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 48px;
    height: 4px;
  }
}

.plats .desserts {
  padding-top: 30px;
}

.list-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.list-info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 95%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #d3d3d3;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &:hover .list-check {
    transform: translateX(-70px);
    transition: transform 0.7s;
  }
    &:hover .list-checked-circle {
      transform: rotate(360deg);
      transition: transform 0.7s;
    }
      &:hover .list-price {
        transform: translateX(-200%);
        transition: transform 0.7s;
        margin-left: 75px;
      }
}


.list-text {
  padding: 0 10px;
  gap: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  & h3 {
    margin: 0;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 200;
  }
}

.list-price {
  display: flex;
  align-items: flex-end;
  margin: 11px 0;
  width: 10%;
}

.list-check {
  background: $tertiary-color;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -72px;
  transition: transform 0.7s;
  height: 63px;
  width: 60px;
  border-radius: 0 18px 18px 0;
  &-circle {
    color: $tertiary-color;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    height: 22px;
    width: 22px;
  }
}

.btn-commander {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.commander {
  background: linear-gradient(to bottom, $secondary-color, $primary-color);
  border: 1px solid;
  color: #fff;
  border-radius: 40px;
  padding: 20px 55px;
  font-size: 20px;
}

.animation-1, .animation-2, .animation-3, .animation-4, .animation-5, .animation-6, .animation-7, .animation-8, .animation-9, .animation-10 {
  animation-name: animateblock;
}

.animation-1 {
  animation-duration: 1.5s;
}

.animation-2 {
  animation-duration: 2s;
}

.animation-3 {
  animation-duration: 2.5s;
}

.animation-4 {
  animation-duration: 3s;
}

.animation-5 {
  animation-duration: 3.5s;
}

.animation-6 {
  animation-duration: 4s;
}

.animation-7 {
  animation-duration: 4.5s;
}

.animation-8 {
  animation-duration: 5s;
}

.animation-9 {
  animation-duration: 5.5s;
}

.animation-10 {
  animation-duration: 6s;
}

@keyframes animateblock {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  50% {
    bottom: -50px;
    opacity: 0;
  }
  75% {
    bottom: 0px;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

/* Responsive */

@media screen and (min-width: 500px) {

  .note, .note-purple {
    width: 450px;
  }

  .restaurant-name {
    justify-content: center;
    & h1 {
      font-size: 25px;
    }
    .heart {
      left: 20%;
      top: 8px;
    }
  }

  .menu {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .entree, .plats, .desserts {
    width: 415px;
  }

  .plats, .desserts {
    padding-top: 0;
  }
}

@media screen and (min-width: 1050px) {

  .rest-list {
    & a {
      width: 45%;
    }
  }

  #header-logo {
    & img {
      width: 30%;
    }
  }

  .body-intro {
    & button {
      font-size: 16px;
      border-radius: 30px;
    }
  }

  .working-note {
    flex-direction: row;
    gap: 30px;
    margin: 0 25px;
  }

  .note {
    width: 45%;
  }

  .note-purple {
    width: 45%;
  }

  .restaurant-name {
    & h1 {
      font-size: 50px;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .plats, .desserts {
    padding-top: 0;
  }

  .list-check {
    right: -73px;
  }
}
